.footer {
  text-align: center!important;
  padding: 0.5rem;
  background-color: #363636;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #f5f5f5;
}

.footer a, .footer strong {
  color: #ff385f;
}

.footer a {
  text-decoration: none;
}